html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: $light-black;
  color: $black;
  min-height: 100%;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
}

body {
  @media only screen and (max-width: 767px) {
    justify-content: flex-start;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

button {
  @include button-reset;
}

header {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  position: fixed;
  top: 0;
  width: 100%;
  padding: $aria;
  color: $black;
  font-size: 16px;
}

footer {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: $aria;

  a,
  a:visited {
    color: $fiorentina;
  }
}
