$white: #ffffff;
$black: #000000;
$light-black: #404040;
$sand: #eeeeee;
$sand-d: #bbb;
$egg: #f4ad00;
$fiorentina: #005690;
$mao: #ff4057;

$bd: 10px;

$aria: 10px;
$h: 48px;

$main-font: 'Dosis', sans-serif;

$main-shadow: 0 0 6px 0 rgba($black, 0.2);
